.container {
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    background: #f0f0f3;
    border-radius: 10px;
}

.output {
    margin-bottom: 10px;
}

input {
    text-align: right;
    border: none;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    width: calc(100% - 40px);
    background: #d3d3d6;
}

button {
    margin: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f3;
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
    cursor: pointer;
}

button:hover {
    color: crimson;
}

button:active {
    box-shadow: none;
}