.containerStudents{
    width: 600px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    background: #f0f0f3;
    border-radius: 10px;
}

.inputName{
    width: 300px;
    text-align: center;
}

.addButton{
    width: 100px;
    height: 60px;
    margin-left: 20px;
}

.nameStudents{
    cursor: pointer;
}

.nameStudents:hover{
    color: crimson;
}